<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login page</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>

  <body>
    <div class="container">
      <div class="login-form">
        <h1>Login</h1>
        <form id="loginForm" action="/user/login" method="post">
          <input
            type="email"
            id="email"
            placeholder="Enter email or username"
            name="email"
            required
          />
          <input
            type="password"
            id="password"
            placeholder="Password"
            name="password"
            required
          />
          <button type="submit">Log In</button>
        </form>
        <div class="footer">
          <p>Don't have an account? <a href="/user/signin">Sign up</a></p>
        </div>
      </div>
      <% if (locals.sms) { %>
      <div class="alert-sms" id="alert-sms">
        <p><%= locals.sms %></p>
      </div>
      <% } %>
    </div>

    <script src="/js/login.js"></script>
  </body>
</html>
